<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="chimera" >
  <xacro:property name="width" value=".2" />
  <xacro:include filename="$(find chimera_description)/urdf/inertial.xacro"/>
  <xacro:include filename="$(find chimera_description)/urdf/mycobot280_arduino.urdf.xacro"/>
  <xacro:include filename="$(find chimera_description)/urdf/tracks.urdf.xacro"/>

  <link name="base_footprint"/>
  
  <link name="base_link">
    <visual>
      <geometry>
	<mesh filename="package://chimera_description/meshes/base_link.stl"/>
      </geometry>
      <origin xyz = "0.0 0.0 0.0 " rpy = "0 0 0"/>
      <material name="">
	<color rgba="0 0.7 0 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
	<mesh filename="package://chimera_description/meshes/base_link_collision.stl"/>
      </geometry>
    </collision>
    <xacro:box_inertial m="4.0" w="0.24" d="0.34" h="0.15"/>
  </link>

  <xacro:my_cobot_arm moving_base_link="base_link"
		      originxyz="-0.03 0.0 0.087" originrpy="0 0 0"/>
  <xacro:tracks />
  
  <joint name="base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_footprint"/>
    <origin xyz="0.0 0.0 -0.0678" rpy="0 0 0"/>
  </joint>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/chimera</robotNamespace>
    </plugin>
  </gazebo>
  
</robot>
