<launch>
     <!-- transbot driver module -->
        <include file="$(find transbot_bringup)/launch/bringup.launch"/>
        <include file="$(find realsense2_camera)/launch/rs_camera.launch"/>
        
        <include file="$(find transbot_nav)/launch/library/depthimage_to_laserscan.launch">
            <arg name="scan_topic" default="scan"/>
        </include>
        
        <!-- Camera's coordinate system-->
        <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera"
              args="0.0484, 0, 0.268 0 0 0  /base_link /camera_link  30"/>
        <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser"
              args=" 0.0484, 0, 0.268 0 0 0  /base_link /laser  30"/>
      <!-- Start the tomato detector node -->
      
  <node name="tomato_detector" pkg="detect_tomato" type="tomato_detector.py" output="screen">
    <param name="image_topic" value="/camera/rgb/image_raw" />
  </node>
  
  <!-- Launch the depth selector node -->
  <node name="depth_selector" pkg="depth_selector" type="depth_selector_publisher.py" output="screen">
    <param name="depth_topic" value="/camera/depth/image_raw" />
    <param name="info_topic" value="/camera/depth/camera_info" />
  </node>

  <node name="go_spray_plants" pkg="go_spray_plants" type="go_spray_plants" output="screen">
  </node>
</launch>
